# Module: SQLite3 Assignments
## Lesson: SQLite3

In [16]:
### Assignment 1: Creating and Connecting to a Database

#1. Write a Python function to create a new SQLite3 database named `test.db`.
#2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.
import sqlite3 
connection=sqlite3.connect('example4.db')
#reading the column and rwo data 
cursor=connection.cursor() 
cursor.execute('''create table if not exists employees(id integer primary key, name Text NOT null, age integer,department TEXT)''')
cursor.execute('''Insert into employees(name,age,department) Values("Rahul",23,"IT")''')
cursor.execute('''Insert into employees(name,age,department) Values("Rahul2",24,"Sotware")''')
connection.commit()
#cursor.execute('''Insert into employees(name,age,department) Values("Rahul",23,"IT")''')
cursor.execute('''select * from employees''')
rows=cursor.fetchall() 
print(rows)

[(1, 'Rahul', 23, 'IT'), (2, 'Rahul2', 24, 'Sotware')]

In [24]:
### Assignment 2: Inserting Data

#1. Write a Python function to insert a new employee into the `employees` table.
#2. Insert at least 5 different employees into the `employees` table.
connection=sqlite3.connect('example4.db')
cursor=connection.cursor()
def newRecord(query,newData):
    
    cursor.execute(query,newData)
    connection.commit() 

query='''Insert into employees(name,age,department) VALUES (:name,:age,:department)'''
newRecord(query,{'name':'pasha','age':24,'department':"software"})
cursor.execute('select * from employees')
rows=cursor.fetchall()
print(rows)

[(1, 'Rahul', 23, 'IT'), (2, 'Rahul2', 24, 'Sotware'), (3, 'pasha', 24, 'software'), (4, 'pasha', 24, 'software'), (5, 'pasha', 24, 'software'), (6, 'pasha', 24, 'software'), (7, 'pasha', 24, 'software'), (8, 'pasha', 24, 'software')]

In [26]:
### Assignment 3: Querying Data

#1. Write a Python function to fetch and display all records from the `employees` table.
#2. Write a Python function to fetch and display all employees from a specific department.
#2 
cursor.execute("select * from employees where department='software'")

rows=cursor.fetchall() 
print(rows)

[(3, 'pasha', 24, 'software'), (4, 'pasha', 24, 'software'), (5, 'pasha', 24, 'software'), (6, 'pasha', 24, 'software'), (7, 'pasha', 24, 'software'), (8, 'pasha', 24, 'software')]

In [30]:
### Assignment 4: Updating Data

#1. Write a Python function to update the department of an employee based on their `id`.
#2. Update the department of at least 2 employees and display the updated records.
cursor.execute("update employees set name='rahulpasha_shaik' where id=5")
cursor.execute("select * from employees")
rows=cursor.fetchall() 
print(rows)

[(1, 'rahulpasha on id=5', 23, 'IT'), (2, 'rahulpasha on id=5', 24, 'Sotware'), (3, 'rahulpasha on id=5', 24, 'software'), (4, 'rahulpasha on id=5', 24, 'software'), (5, 'rahulpasha_shaik', 24, 'software'), (6, 'rahulpasha on id=5', 24, 'software'), (7, 'rahulpasha on id=5', 24, 'software'), (8, 'rahulpasha on id=5', 24, 'software')]

In [31]:
### Assignment 5: Deleting Data

#1. Write a Python function to delete an employee from the `employees` table based on their `id`.
#2. Delete at least 1 employee and display the remaining records.
cursor.execute('delete from employees where id=1')
cursor.execute('select * from employees')
rows=cursor.fetchall() 
print(rows)

[(2, 'rahulpasha on id=5', 24, 'Sotware'), (3, 'rahulpasha on id=5', 24, 'software'), (4, 'rahulpasha on id=5', 24, 'software'), (5, 'rahulpasha_shaik', 24, 'software'), (6, 'rahulpasha on id=5', 24, 'software'), (7, 'rahulpasha on id=5', 24, 'software'), (8, 'rahulpasha on id=5', 24, 'software')]

In [32]:

### Assignment 6: Advanced Queries

#1. Write a Python function to fetch and display employees older than a certain age.
#2. Write a Python function to fetch and display employees whose names start with a specific letter.
employee_name=["Varun",'Raghu','Radha','kiran','Yash','Vijay','Rana']
ages=[19,20,25,45,27,36,32]
department=['Hr','Marketing','IT','Helpdesk','Hardware','Academy','Operations']
cursor.executemany('Insert into employees(name,age,department) values(?,?,?)',list(zip(employee_name,ages,department)))
connection.commit()
cursor.execute('select * from employees')
rows=cursor.fetchall()
print(rows)

[(2, 'rahulpasha on id=5', 24, 'Sotware'), (3, 'rahulpasha on id=5', 24, 'software'), (4, 'rahulpasha on id=5', 24, 'software'), (5, 'rahulpasha_shaik', 24, 'software'), (6, 'rahulpasha on id=5', 24, 'software'), (7, 'rahulpasha on id=5', 24, 'software'), (8, 'rahulpasha on id=5', 24, 'software'), (9, 'Varun', 19, 'Hr'), (10, 'Raghu', 20, 'Marketing'), (11, 'Radha', 25, 'IT'), (12, 'kiran', 45, 'Helpdesk'), (13, 'Yash', 27, 'Hardware'), (14, 'Vijay', 36, 'Academy'), (15, 'Rana', 32, 'Operations')]

In [36]:
#1
ids_to_delete=[2,3,4,5,6,7]
delete_query = f"DELETE FROM employees WHERE id IN ({','.join('?' * len(ids_to_delete))})"
cursor.execute(delete_query,ids_to_delete)
connection.commit() 
cursor.execute('select * from employees where age>28')
rows=cursor.fetchall()
print(rows)

[(12, 'kiran', 45, 'Helpdesk'), (14, 'Vijay', 36, 'Academy'), (15, 'Rana', 32, 'Operations')]

In [42]:
#2. Write a Python function to fetch and display employees whose names start with a specific letter.
cursor.execute("select * from employees where name LIKE 'V%'")
rows=cursor.fetchall()
print(rows)

[(9, 'Varun', 19, 'Hr'), (14, 'Vijay', 36, 'Academy')]

In [43]:
### Assignment 7: Handling Transactions

#1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

import sqlite3

# Function to insert multiple employees into the database
def insert_multiple_employees(employees):
    # Connect to the SQLite database
    connection = sqlite3.connect('example4.db')
    cursor = connection.cursor()
    
    # Define the SQL insert statement
    query = '''INSERT INTO employees (name, age, department) VALUES (?, ?, ?)'''
    
    try:
        # Begin a transaction
        cursor.executemany(query, employees)
        # Commit the transaction if all inserts succeed
        connection.commit()
        print(f"Successfully inserted {len(employees)} employees.")
    except Exception as e:
        # Rollback the transaction if any insertion fails
        connection.rollback()
        print(f"An error occurred: {e}. No employees were inserted.")
    finally:
        # Close the cursor and connection
        cursor.close()
        connection.close()

# Sample data to insert
employees_to_insert = [
    ('Alice', 30, 'HR'),
    ('Bob', 25, 'Engineering'),
    ('Charlie', 28, 'Marketing'),
    ('David', 22, 'Sales'),
]

# Call the function to insert employees
insert_multiple_employees(employees_to_insert)

Successfully inserted 4 employees.

In [51]:
#2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

name=['Bob','Rana','Alice']
new_ages=[26,33,29]
cursor.executemany(f"Update employees set age=? where name=?",list(zip(new_ages,name)))
connection.commit()

In [ ]:
[(8, 'rahulpasha on id=5', 24, 'software'), (9, 'Varun', 19, 'Hr'), (10, 'Raghu', 20, 'Marketing'), (11, 'Radha', 25, 'IT'), (12, 'kiran', 45, 'Helpdesk'), (13, 'Yash', 27, 'Hardware'), (14, 'Vijay', 36, 'Academy'), (15, 'Rana', 32, 'Operations'), (16, 'Alice', 30, 'HR'), (17, 'Bob', 25, 'Engineering'), (18, 'Charlie', 28, 'Marketing'), (19, 'David', 22, 'Sales')]

In [52]:
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
print(rows)

[(8, 'rahulpasha on id=5', 24, 'software'), (9, 'Varun', 19, 'Hr'), (10, 'Raghu', 20, 'Marketing'), (11, 'Radha', 25, 'IT'), (12, 'kiran', 45, 'Helpdesk'), (13, 'Yash', 27, 'Hardware'), (14, 'Vijay', 36, 'Academy'), (15, 'Rana', 33, 'Operations'), (16, 'Alice', 29, 'HR'), (17, 'Bob', 26, 'Engineering'), (18, 'Charlie', 28, 'Marketing'), (19, 'David', 22, 'Sales')]

In [ ]:
### Assignment 8: Creating Relationships

#1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
#2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
#3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.
import sqlite3

def create_tables():
    # Connect to the SQLite database
    connection = sqlite3.connect('example4.db')
    cursor = connection.cursor()
    
    # Step 1: Create the departments table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS departments (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
    ''')

    # Step 2: Create the employees table with a foreign key reference
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department_id INTEGER,
        FOREIGN KEY (department_id) REFERENCES departments(id)
    )
    ''')
    
    # Commit changes and close the connection
    connection.commit()
    cursor.close()
    connection.close()

def insert_data(department_name, employee_name, employee_age):
    # Connect to the SQLite database
    connection = sqlite3.connect('example4.db')
    cursor = connection.cursor()
    
    # Step 3: Insert data into departments
    cursor.execute('''
    INSERT INTO departments (name) VALUES (?)
    ''', (department_name,))
    
    # Get the last inserted department ID
    department_id = cursor.lastrowid

    # Insert data into employees table with referential integrity
    cursor.execute('''
    INSERT INTO employees (name, age, department_id) VALUES (?, ?, ?)
    ''', (employee_name, employee_age, department_id))

    # Commit changes and close the connection
    connection.commit()
    cursor.close()
    connection.close()

# Create the tables
create_tables()

# Insert data into both tables
insert_data('Engineering', 'Alice', 30)
insert_data('HR', 'Bob', 25)
insert_data('Marketing', 'Charlie', 28)

print("Data inserted successfully.")

In [ ]:
### Assignment 9: Indexing and Optimization

#1. Create an index on the `name` column of the `employees` table.
#2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.
import sqlite3
import time

def create_tables():
    connection = sqlite3.connect('example9.db')
    cursor = connection.cursor()
    
    # Create employees table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER
    )
    ''')
    
    connection.commit()
    cursor.close()
    connection.close()

def insert_employee(name, age):
    connection = sqlite3.connect('example9.db')
    cursor = connection.cursor()
    
    cursor.execute('''
    INSERT INTO employees (name, age) VALUES (?, ?)
    ''', (name, age))
    
    connection.commit()
    cursor.close()
    connection.close()

def create_index():
    connection = sqlite3.connect('example9.db')
    cursor = connection.cursor()
    
    cursor.execute('CREATE INDEX IF NOT EXISTS idx_name ON employees (name)')
    
    connection.commit()
    cursor.close()
    connection.close()

def fetch_employees_with_prefix(prefix):
    connection = sqlite3.connect('example9.db')
    cursor = connection.cursor()
    
    cursor.execute("SELECT * FROM employees WHERE name LIKE ?", (prefix + '%',))
    rows = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return rows

def measure_performance(prefix):
    # Measure time without index
    start_time = time.time()
    print("Fetching employees without index:")
    employees_without_index = fetch_employees_with_prefix(prefix)
    print(employees_without_index)
    print(f"Time taken without index: {time.time() - start_time:.6f} seconds\n")
    
    # Create index
    create_index()
    
    # Measure time with index
    start_time = time.time()
    print("Fetching employees with index:")
    employees_with_index = fetch_employees_with_prefix(prefix)
    print(employees_with_index)
    print(f"Time taken with index: {time.time() - start_time:.6f} seconds")

# Step 1: Create tables
create_tables()

# Step 2: Insert sample employees
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Gina', 'Henry']
ages = [30, 25, 35, 40, 28, 33, 29, 45]

for name, age in zip(names, ages):
    insert_employee(name, age)

# Step 3: Measure performance
measure_performance('A')  # Change the letter as needed

In [55]:


### Assignment 10: Backing Up and Restoring Data

#1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
#2. Write a Python function to restore the `test.db` database from the `backup.db` file.

import sqlite3
import shutil
import os

def backup_database(source_db, backup_db):
    """Backs up the specified database to the backup file."""
    try:
        # Use shutil to copy the database file
        shutil.copyfile(source_db, backup_db)
        print(f"Backup of '{source_db}' created at '{backup_db}'.")
    except Exception as e:
        print(f"An error occurred while backing up the database: {e}")

def restore_database(backup_db, target_db):
    """Restores the target database from the backup file."""
    try:
        # Remove the target database if it exists
        if os.path.exists(target_db):
            os.remove(target_db)
            print(f"Existing '{target_db}' has been removed.")

        # Use shutil to copy the backup file to the target location
        shutil.copyfile(backup_db, target_db)
        print(f"Database restored from '{backup_db}' to '{target_db}'.")
    except Exception as e:
        print(f"An error occurred while restoring the database: {e}")

# Usage Example
if __name__ == "__main__":
    source_database = 'test4.db'  # Replace with your actual database file
    backup_database_file = 'example4.db'  # Backup file name

    # Create a backup of the test database
    backup_database(source_database, backup_database_file)

    # Restore the database from the backup
    restore_database(backup_database_file, source_database)

Backup of 'test4.db' created at 'example4.db'.
Existing 'test4.db' has been removed.
Database restored from 'example4.db' to 'test4.db'.