# Module: Pandas Assignments
## Lesson: Pandas

In [7]:
### Assignment 1: DataFrame Creation and Indexing

#1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
#2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
import pandas as pd 
import numpy as np
data=[[x for x in range(0,4)] for y in range(0,6)]

data=pd.DataFrame(data)
print(data)
data.set_index(0)
#2 
data=pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'], index=['X','Y','Z'])
print(data)

   0  1  2  3
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  2  3
4  0  1  2  3
5  0  1  2  3
    A   B   C
X   2  36  13
Y  67  25  86
Z  40  48  10

In [12]:
### Assignment 2: DataFrame Operations

#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
#2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
data=pd.DataFrame(np.random.randint(1,100,size=(3,5)))
print(data)
data['product']=data[0]*data[1]
print(data)
data2=pd.DataFrame(np.random.randint(1,100,size=(3,4)))
print(data2)
#column wise sum
print(data2.sum(axis=1))
#row wise sum 
print(data2.sum(axis=0))

    0   1   2   3   4
0  93  40  35  18  93
1   4  49  67  37  34
2  35  47  61  16  26
    0   1   2   3   4  product
0  93  40  35  18  93     3720
1   4  49  67  37  34      196
2  35  47  61  16  26     1645
    0   1   2   3
0  23   1  86  54
1  17  96   6  81
2  99   3   4  92
0    164
1    200
2    198
dtype: int64
0    139
1    100
2     96
3    227
dtype: int64

In [36]:

### Assignment 3: Data Cleaning

#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
#2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
data=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])


data.iloc[1,2]=np.nan 
data.iloc[2,1]=np.nan
print(data)
print(data.mean())
data.fillna(data.mean(),inplace=True)
print(data)

data2=pd.DataFrame(np.random.randint(1,100,size=(6,4)))
data2.iloc[1,2]=np.nan 
print(data2)
data2.dropna(axis=0,inplace=True)
print(data2)

    A     B     C
0  88  56.0  93.0
1  47  52.0   NaN
2  62   NaN  86.0
3   5  77.0  94.0
4  91  56.0  61.0
A    58.60
B    60.25
C    83.50
dtype: float64
    A      B     C
0  88  56.00  93.0
1  47  52.00  83.5
2  62  60.25  86.0
3   5  77.00  94.0
4  91  56.00  61.0
    0   1     2   3
0  62  27  34.0  14
1  28   6   NaN  86
2   5  68  13.0  41
3  61  37  58.0  58
4  11  77  85.0  73
5  71  45  62.0  64
    0   1     2   3
0  62  27  34.0  14
2   5  68  13.0  41
3  61  37  58.0  58
4  11  77  85.0  73
5  71  45  62.0  64

In [54]:
### Assignment 4: Data Aggregation

#1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
#2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.
Categories=np.random.choice(['A','B','C'],size=5)
Values=np.arange(1,6).reshape(5,)
df=pd.DataFrame(data=np.column_stack((Categories,Values)),columns=['Category','Value'])
print(df) 
df['Value']=df['Value'].astype(int)
print(df.groupby('Category')['Value'].sum())

#2 
df2=pd.DataFrame({'Product':np.random.choice(['Electronics','HomeProducts','Kitchen'],size=5),
                 'Category':np.random.choice(['A','B','C'],size=5),
                 'Values':np.random.randint(1,10,size=5)})
print(df2)
print(df2.groupby('Category')['Values'].sum())

  Category Value
0        B     1
1        B     2
2        B     3
3        A     4
4        B     5
Category
A     4
B    11
Name: Value, dtype: int64
        Product Category  Values
0       Kitchen        A       8
1       Kitchen        C       8
2   Electronics        B       9
3       Kitchen        C       1
4  HomeProducts        B       6
Category
A     8
B    15
C     9
Name: Values, dtype: int32

In [56]:
### Assignment 5: Merging DataFrames

#1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
#2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
#1 
print(df)
print(df2)
print(pd.merge(df,df2,on='Category',how='inner'))

  Category  Value
0        B      1
1        B      2
2        B      3
3        A      4
4        B      5
        Product Category  Values
0       Kitchen        A       8
1       Kitchen        C       8
2   Electronics        B       9
3       Kitchen        C       1
4  HomeProducts        B       6
  Category  Value       Product  Values
0        B      1   Electronics       9
1        B      1  HomeProducts       6
2        B      2   Electronics       9
3        B      2  HomeProducts       6
4        B      3   Electronics       9
5        B      3  HomeProducts       6
6        A      4       Kitchen       8
7        B      5   Electronics       9
8        B      5  HomeProducts       6

In [63]:
### Assignment 6: Time Series Analysis

#1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
#2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.
date_range=pd.date_range(start='2024-09-10', end='2024-10-20',freq="D")
random_integers=np.random.randint(1,100,size=len(date_range))
data=pd.DataFrame(data=random_integers,index=date_range)

monthly_mean=data.resample('M').mean()
monthly_mean


#2
import pandas as pd
import numpy as np

# Step 1: Create a datetime index for the year 2021
date_range = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')

# Step 2: Generate random integers between 1 and 100
random_integers = np.random.randint(1, 101, size=len(date_range))

# Step 3: Create the DataFrame with the datetime index
df = pd.DataFrame(data=random_integers, index=date_range, columns=['Random Values'])

# Step 4: Compute the rolling mean with a window of 7 days
df['Rolling Mean (7 days)'] = df['Random Values'].rolling(window=7).mean()

# Display the first few rows of the DataFrame
print(df.head(10))  # Display the first 10 rows

C:\Users\shaik\AppData\Local\Temp\ipykernel_26416\2566283798.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean=data.resample('M').mean()

            Random Values  Rolling Mean (7 days)
2021-01-01             98                    NaN
2021-01-02              8                    NaN
2021-01-03             17                    NaN
2021-01-04             61                    NaN
2021-01-05             69                    NaN
2021-01-06             42                    NaN
2021-01-07             14              44.142857
2021-01-08             45              36.571429
2021-01-09             22              38.571429
2021-01-10             52              43.571429

In [65]:
### Assignment 7: MultiIndex DataFrame

#1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
#2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
import pandas as pd
import numpy as np

# Step 1: Create a MultiIndex for the rows (Year, Month)
index = pd.MultiIndex.from_tuples([
    (2021, 'Jan'), (2021, 'Feb'), (2021, 'Mar'),
    (2022, 'Jan'), (2022, 'Feb'), (2022, 'Mar')
], names=['Year', 'Month'])

# Step 2: Create the DataFrame with the MultiIndex and multiple columns
data = {
    'Temperature': [30, 32, 35, 31, 33, 34],
    'Humidity': [80, 75, 78, 82, 77, 79]
}
df = pd.DataFrame(data, index=index)

# Display the MultiIndex DataFrame
print(df)

import pandas as pd
import numpy as np

# Step 1: Create a MultiIndex with 'Category' and 'SubCategory'
categories = ['A', 'B', 'C']
subcategories = ['X', 'Y', 'Z']
index = pd.MultiIndex.from_product([categories, subcategories], names=['Category', 'SubCategory'])

# Step 2: Create a DataFrame with the MultiIndex and random data
np.random.seed(42)  # For reproducibility
data = np.random.randint(1, 101, size=(len(index), 3))  # Random data in 3 columns
df = pd.DataFrame(data, index=index, columns=['Value1', 'Value2', 'Value3'])

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Step 3: Compute the sum of values for each 'Category' and 'SubCategory'
sum_df = df.groupby(['Category', 'SubCategory']).sum()

# Display the sum result
print("\nSum of values for each 'Category' and 'SubCategory':")
print(sum_df)

            Temperature  Humidity
Year Month
2021 Jan             30        80
     Feb             32        75
     Mar             35        78
2022 Jan             31        82
     Feb             33        77
     Mar             34        79
Original DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        X                52      93      15
         Y                72      61      21
         Z                83      87      75
B        X                75      88     100
         Y                24       3      22
         Z                53       2      88
C        X                30      38       2
         Y                64      60      21
         Z                33      76      58

Sum of values for each 'Category' and 'SubCategory':
                      Value1  Value2  Value3
Category SubCategory
A        X                52      93      15
         Y                72      61      21
         Z                83      87      75
B        X                75      88     100
         Y                24       3      22
         Z                53       2      88
C        X                30      38       2
         Y                64      60      21
         Z                33      76      58

In [71]:
### Assignment 8: Pivot Tables

#1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
#2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
import pandas as pd
import numpy as np

# Step 1: Create a DataFrame
data = {
    'Date': pd.date_range(start='2023-10-01', periods=6, freq='D'),
    'Category': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Value': [100, 150, 200, 250, 300, 350]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Step 2: Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = pd.pivot_table(df, values='Value', index='Date', columns='Category', aggfunc='sum')

# Display the pivot table
print("\nPivot Table (Sum of 'Value' by 'Category' and 'Date'):")
print(pivot_table)


df=pd.DataFrame({
    'Year':np.random.randint(2012,2020,size=5),
    'Quartet':np.random.randint(1,5,size=5),
    'Revenue':np.random.randint(1000000,50000000,size=5)
})
print(df)
pivot_table=pd.pivot_table(df,values='Revenue',index='Year',columns='Quartet',aggfunc='mean')
print(pivot_table)

Original DataFrame:
        Date Category  Value
0 2023-10-01        A    100
1 2023-10-02        B    150
2 2023-10-03        A    200
3 2023-10-04        C    250
4 2023-10-05        B    300
5 2023-10-06        C    350

Pivot Table (Sum of 'Value' by 'Category' and 'Date'):
Category        A      B      C
Date
2023-10-01  100.0    NaN    NaN
2023-10-02    NaN  150.0    NaN
2023-10-03  200.0    NaN    NaN
2023-10-04    NaN    NaN  250.0
2023-10-05    NaN  300.0    NaN
2023-10-06    NaN    NaN  350.0
   Year  Quartet   Revenue
0  2017        4  23335235
1  2012        2   1271836
2  2015        2   4584702
3  2013        2  41835801
4  2019        2   9585377
Quartet           2           4
Year
2012      1271836.0         NaN
2013     41835801.0         NaN
2015      4584702.0         NaN
2017            NaN  23335235.0
2019      9585377.0         NaN

In [76]:

### Assignment 9: Applying Functions

#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
#2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.
data=pd.DataFrame(np.random.randint(1,5,size=(5,3)))
print(data)
data*2
data2=pd.DataFrame(np.random.randint(1,100,size=(6,3)))
data2['Sum category wise']=data2.sum(axis=1)
print(data2)

   0  1  2
0  3  4  2
1  3  4  1
2  3  2  1
3  1  1  3
4  2  1  4
    0   1   2  Sum category wise
0  77   3  70                150
1  72  27   9                108
2  62  37  97                196
3  51  44  24                119
4  79  59  32                170
5  96  88  52                236

In [89]:

### Assignment 10: Working with Text Data

#1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
#2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
text_strings=['Pasha','rahul','Shaik','Tomato']
data=pd.Series(text_strings)
print(data.str.upper())

print(data)
print(data[:3])
first_three_chars = data.str[:3]
first_three_chars

0     PASHA
1     RAHUL
2     SHAIK
3    TOMATO
dtype: object
0     Pasha
1     rahul
2     Shaik
3    Tomato
dtype: object
0    Pasha
1    rahul
2    Shaik
dtype: object

0    Pas
1    rah
2    Sha
3    Tom
dtype: object